*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
nav ul{
    height: 50px;
    background-color:#219ebc;
    display: flex;
    justify-content:flex-end ;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.navlinks{
    text-decoration: none;
    color: white;
    
}
.navlinks:hover{
    /* text-decoration: none; */
    color: rgb(255, 217, 0);
}
nav li{
    list-style: none;
    margin-right: 80px;
}
#HomeLogo{
    height: 40px;
    width: 140px;
    margin-right: 640px;
}
/* .{
    display: flex;
    justify-content: center;
    align-items: center;
} */
table,th,td {
    padding: 3px;
    border: solid black 1px;
    text-align: center;
    background-color: antiquewhite;
    font-family: cursive;
    border-collapse: collapse;
    /* border-radius: 10px; */
}
table{
    height: 450px;
    width: 900px;
    margin-top: 10px;
}
#redirecthome{
    height: 40px;
    width: 600px;
    background-color: #219ebc;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#redirecthome a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}
#redirecthome a:hover{
    color: yellowgreen;
}
.mainscore{
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}